/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0e4e4;
    margin: 0;
}

.container {
    background-color: #ea7b7b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f0a0a0;
    border-radius: 5px;
}

#strength {
    font-weight: bold;
}

#tips {
    margin-top: 10px;
    text-align: left;
    font-size: 0.9em;
}